* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
}

nav {
    height: 7vh;
    text-align: right;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 1px 0 20px;

}

nav a {
    display: inline-block;
    font-size: 1.75em;
    text-decoration: none;
    text-transform: uppercase;
    margin: 2.7vh 20px 0 20px;
    color: #555;
    transition: .1s;
}

nav a:hover {
    color: black;
    border-bottom: solid black 1px;
}

nav a.reservation {
    font-size: 2em;
    margin: 0 10vw 0 5vw;
    padding: 5px 10px;
    border: solid #555 2px;
    transition: .2s;
}

nav a.reservation:hover {
    color: white;
    background-color: rgb(27, 134, 222);
    border-color: rgb(27, 134, 222);
}

header {
    background-image: url(warsztat2.jpg);
    height: 40vh;
    background-size: cover;
}

h1 {
    font-size: 6em;
    color: white;
    text-align: center;
    background-color: rgba(1 ,1, 1, 0.75);
    height: 100%;
    line-height: 30vh;
}

h2 {
    font-size: 2em;
    text-align: center;
    margin: 50px 10vw;
}

main {
    height: 60vh;
}

section {
    display: inline-block;
    width: 33%;
    text-align: center;
    font-size: 1.25em;
}

section img {
    height: 250px;
    width: 450px;
}

section h3 {
    margin: 20px 0;
}

footer {
    background-color: black;
    color: white;
    font-size: 2em;
    text-align: center;
    height: 5vh;
}

footer p {
    padding: 10px;
}